$bodybgColor: #fefefe;
$bodyTextColor: #454545;

// Link Colors
$linkColor: #07A;
$linkVisitedColor: #941352;
$linkVisitedInvertedColor: #ac5a82;
// ===============

$wrongColor: #c0392b;
$shittyBlue: #0000EE;
$shittyViolet: #551A8B;
$motherfuckingColor: #730000;
$blockQuoteColor: #456;
$openQuoteColor: #666;
